.auth-magic .modal-backdrop.show {
    border-color: #8c8c8c;
    background-color: #f0f0f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    opacity: .7;
}
.auth-magic .modal .modal-dialog {
    margin-top: 200px;
}
.auth-magic .modal .modal-dialog .modal-content .modal-header {
    padding: 30px;
    border: 0;
}
.auth-magic .modal .modal-dialog .modal-content .modal-header h5 {
    font-size: 24px;
    font-weight: normal;
    color: #000;
}
.auth-magic .modal .modal-dialog .modal-content .modal-body {
    padding: 0 30px;
}
.auth-magic .modal .modal-dialog .modal-content .modal-body .auth-magic-block p {
    font-size: 16px;
    margin-bottom: 30px;
}
.auth-magic .modal .modal-dialog .modal-content .modal-body .auth-magic-block .magic-link-block span {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}
.auth-magic .modal .modal-dialog .modal-content .modal-body .auth-magic-block .magic-link-block input {
    width: 100%;
    height: 40px;
    font-size: 13px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    padding: 0 8px;
}
.auth-magic .modal .modal-dialog .modal-content .modal-body .auth-magic-block .magic-link-block .copy-link-block {
    margin-top: 15px;
}
.auth-magic .modal .modal-dialog .modal-content .modal-body .auth-magic-block .magic-link-block .copy-link-block button {
    font-size: 16px;
    color: #fff;
    background-color: #121212;
}
.auth-magic .modal .modal-dialog .modal-content .modal-footer {
    border: 0;
}
.auth-magic .modal .modal-dialog .modal-content .modal-footer button {
    display: none;
}
.auth-magic.path-login form .form-group a.btn-block {
    margin: 20px 0;
}